.question {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  box-sizing: border-box;
  background-color: #31b7bf;
  .question-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    background-color: #C1E9EB;
  }
  .question-options {
    flex: 1 1 auto;
  }
  .footer-btn {
    display: flex;
    flex-direction: column;
    button {
      height: 46px;
    }
  }
}