.score-bar-container {
  padding: 8px;
  background-color: #195c61;
  .score-bar {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    padding: 0;
    background-color: white;
    border-radius: 8px;
    position: relative;
    z-index: 3;
    div {
      flex: 1;
      height: 8px;
    }
  }
}